* {
	box-sizing: border-box;
}

.container {
	width: 980px;	
	margin: 0 auto;
}

body {
	background: lightgrey;
	margin: 0 auto;
}

header {
	background: #033048;
	width: 100%;
	height: 75px;
	padding: 0 50px 0 50px;
}

.logo h2 {
	color: #fff;
	float: left;
	font-size: 30px;
	margin: 0 auto;
    padding: 20px 0 0 28px;
}

header nav {
	float: right;
	padding-top: 28px;
	padding-right: 60px;

}

.container nav a {
	color: #f9e42e;
	text-decoration: none;
	text-align: center;
	padding: 10px;
}

.left-container {
	width: 70%;
	float: left;
	padding-bottom: 60px;

}

.blog-post {
	width: 100%;
	margin-left: 50px;
}

.blog-post a {
	float: right;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: bolder;
    color: #033048;
}

hr {
	clear: both;
	background-color: #033048;
    height: 1px;
    border: none;
    margin-left: 50px;
}

.sidebar {
	width: 18%;
	float: right;
	color: #033048;
}

.about a {
	color: #033048;
	text-decoration: none;
	font-weight: bolder;
}

.categories .sub-nav a {
	color: #033048;
}


.about h3  {
	margin-bottom: 0;

}

.about p {
	margin-top: 10px;
	margin-bottom: 0;
}

.ad {
	padding-top: 50px;


}

.signup {
	background: #f9e42e;
	clear: both;
	width: 100%;
	height: 60px;
	margin: 0;
	text-align: center;
	padding-top: 15px;
	padding-left: 30px;
}

.signup button {
	width: 15%;
	height: 30px;
	border-radius: 3px; 
	background: #033048;
	border: none;
	color: #fff;
}

footer {
	width: 100%;
	height: 125px;
	clear: both;
	background-color: #121212;
	margin-top: -20px;
	text-align: center;
}

footer h2 {
	color: #f9e42e;
	padding-top: 30px;
	padding-left: 33px;
}

footer a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
	padding-bottom: 10px;
}

footer ul li {
	list-style: none;
	color: #fff;
}

