* {
	box-sizing: border-box;
}

header {
	border: 1px solid teal;
	background: darkgrey;
	height: 150px;
	width: 100%;
	margin: 5px auto;

}

.sidebar {
	border: 1px solid teal;
	background: darkgrey;
	height: 300px;
	width: 22%;
	float: left;

}

.middle {
	border: 1px solid teal;
	background: darkgrey;
	height: 300px;
	width: 53%;
	float: left;
	margin: 0 5px;
}

.right {
	border: 1px solid teal;
	background: darkgrey;
	height: 300px;
	width: 23.5%;
	float: right;
	margin: 0 0 5px;
}

footer {
	border: 1px solid teal;
	background: darkgrey;
	height: 150px;
	width: 100%;
	clear: both;
}