* {
	box-sizing: border-box;
}

body, html {
	height:100%;
	width: 100%;	
	margin: 0 auto;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-image: url(../images/background9.jpg);
}

#owlcontainer {
	height: 100%;
}


header {

	background: rgba(0, 0, 0, 0.1); 
    color: #f1f1f1; 
    width: 100%; 
    height: 10%;
}

nav {

	text-align: center;
	padding-top: 45px;
}

a {
	padding: 0 15px 0 0;
	text-decoration: none;
	color: white;
}

#instafeed {

	height: 70%;
	width: 50%;
	border: solid 3px black;
	margin: auto;
	margin-top:      
	35px;
}

#quote {

	position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.1); 
    color: #f1f1f1; 
    width: 100%; 
    height: 10%;
}

#quote p {

	text-align: center;
}

#footer {
	
}